.card_com_style{
    background-image:url("../../assets/components_images/card.png");
    background-size:100% 100%;
}
.table_com_style{
    background-image:url("../../assets/components_images/table.png");
    background-size:100% 100%;
}